.indicators {
  display: flex;
  .indicator {
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background: #eee;
    color: #000;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

    &.active {
      border: #aaa solid 1px;
    }

    &.passed {
      opacity: 0.6;
    }
  }

  button {
    color: #000;
    padding: 0 10px;
    cursor: pointer;
  }
}

.quiz-wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .quiz-card {
    flex-grow: 1;
  }

  h2 {
    color: #000;
  }
}

.modal-frame {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: max-content;
    background: #fff;
    padding: 24px 16px;
    border-radius: 5px;

    h2 {
      margin-bottom: 12px;
    }

    button:not(:last-child) {
      margin-right: 12px;
    }

    * {
      color: #000;
    }
  }
}